<div class="container">
    <div class="row pt-5 justify-content-center">
        <div class="col-8">
            <div class="card card-default">
                <div class="card-header">
                    <h5>ورود به حسـاب</h5>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST" action="/auth/login" novalidate>

                        <%- include(viewPath('layouts/error-messages')) -%>
                            <div class="form-group">
                                <label for="email" class="control-label">آدرس ایمیل</label>
                                <input id="email" type="email" class="form-control" name="email"
                                    value="<%- old('email') %> " required="">
                            </div>

                            <div class="form-group">
                                <label for="password" class="control-label">پسورد</label>
                                <input id="password" type="password" class="form-control" name="password" required="">
                            </div>

                            <div class="form-group">
                                <div class="checkbox">
                                    <input type="checkbox" name="remember"> یادآوری ورود
                                    <label>
                                    </label>
                                    <br>
                                </div>
                            </div>

                            <div class="form-group">
                                <%- recaptcha %>
                            </div>


                            <div class="form-group" style="text-align: center;">

                                <button type="submit" class="btn btn-primary">ورود</button>
                                <a href="/auth/google" class=" btn btn-danger">

                                    ورود با گوگل <i class="fa fa-google" aria-hidden="true"></i>

                                </a>
                                <a href="/auth/spotify" class=" btn btn-success">

                                    ورود با اکانت اسپاتیفای <i class="fa fa-google" aria-hidden="true"></i>

                                </a>
                                <!-- <a href="/login/google" class="btn btn-danger">ورود با اکانت گوگل</a> -->
                            </div>


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>