<div class="modal fade" id="sendCommentModal" tabindex="-1" role="dialog" aria-labelledby="sendCommentModalLabel"
    aria-hidden="true" style="display: none;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">ارسال پاسخ</h4>
                <button type="button" class="close" style="margin-left: -1rem;" data-dismiss="modal"
                    aria-label="Close"><span aria-hidden="true">×</span></button>
            </div>
            <div class="modal-body">
                <form action="/comment" method="post">
                    <input type="hidden" name="parent" value="">
                    <input type="hidden" name="<%= subject.constructor.modelName.toLowerCase() %>"
                        value="<%= subject.id %>">

                    <div class="form-group">
                        <label for="message-text" class="control-label">متن پاسخ:</label>
                        <textarea class="form-control" id="message-text" name="comment"></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">ارسال</button>
                        <button type="button" class="btn btn-default mr-2 ml-0" data-dismiss="modal">انصراف</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<script>
    $('#sendCommentModal').on('show.bs.modal', function (event) {
        console.log('hi');
        let button = $(event.relatedTarget);

        let parentId = button.data('parent');
        let modal = $(this);
        modal.find("[name='parent']").val(parentId);
    });
</script>