<%- include(viewPath('home/panel/head')) -%>

    <ul style="margin: 20px">
        <li><b>نام کاربری</b> :<%= auth.user.name %>
        </li>
        <li><b>ایمیل کاربری</b> : <%= auth.user.email %>
        </li>
        <li> <b>زمان پایان اعتبار ویژه</b> : ۱ ماه پیش دیگر</li>
    </ul>