<div class="container">
    <div class="row pt-5 justify-content-center">
        <div class="col-8">
            <div class="card card-default">
                <div class="card-header">
                    <h5>پسورد جدید</h5>
                </div>
                <div class="card-body">
                    <form class="form-horizontal" method="POST" action="/auth/password/reset" novalidate>

                        <%- include(viewPath('layouts/error-messages')) -%>

                        <div class="form-group">
                            <label for="password" class="control-label">پسورد</label>
                            <input id="password" type="password" class="form-control" name="password" required="">
                        </div>

                        <div class="form-group">
                            <input name="token" type="hidden" value="<%=token %>">
                        </div>


                        <div class="form-group">
                            <%-recaptcha%>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-primary">ذخـیره</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>